.main {
    display: flex;
    flex-direction: column;
    /* justify-content: space-between; */
    justify-content: center;
    align-items: center;
    padding: 2rem;
    min-height: 100vh;
    justify-content: flex-start;
    padding-top: 3rem;
    font-family: system-ui;
  }

  .container{
    padding: 0 2rem;
  }

  .blogitem, .blogitem h3, .blogitem p  {
    /* margin: 10px; */
    padding: 5px;
  }

  .blogItemh1{
    text-align: center;
    margin: 0;
    padding: 0;
    margin: 20px;
  }

  .blogItemp{
    max-width: 45vw;
    margin: 20px;
    
  }